p{                                  /*On rend les textes responsive pour la version mobile*/
    display: flex;
}

body{                               /*On change la disposition du CV pour l'experience utilisateur sur mobile*/
    
    margin : auto;
    display: flex;
    
    flex-direction: column;
    
    font-family: 'Inria Serif', serif;
    margin-bottom: 30px;
    overflow-x: hidden;
    width : 100%;
    
}



#photo1{                                    /*On supprime la photo de la version desktop pour l'ergonomie mobile*/
    display: none !important;
}

#photo2 {
    height:260px;
    width:235px;
}

#leftSide {                                 /*Partie gauche du CV*/
    text-align : center;
    background-color: #E0E0E0;
}
#fayssal2 p{
    text-align : center;
    margin : 5px;
    font-weight: bold;
}

img {
    border-radius: 100%;
    padding-top : 15px;
}
#leftSide li{
    list-style: none;
}

#leftSide a{
    text-decoration: none;
    color : black;
}

#leftSide h3{
    text-transform: uppercase;
    background-color: #616161;
    color : white;
}

#leftSide p{
    text-align: left;
    font-size : 14px;
    
}



#loisirsIcone{
    display : flex;
    justify-content: space-around;
    margin-bottom : 20px;
}

#loisirs i{
    font-size: 40px;
    width: auto;
    
}

#name {                         /*Partie droite du CV*/
    display : none;             /*On supprime le nome de la version desktop pour l'ergonomie mobile*/
}
#rightSide a{                           
    text-decoration: none;
    color : black;
}


#rightSide h3{
    text-align: center;
    border-bottom : 1px solid black;
    border-top : 1px solid black;
    
}

#formation h3{
    border-top:none;
}


.infoCV {
    display: flex;
    flex-direction: column;
    
    
    
}

.infoCV p{
    justify-content: center;
}


#formation i {
    display: none;
}



#xpPro i {
    display: none;
}


#rightSide p{
    font-size : 12px;
    width : 100%;
    word-wrap: break-word;
    text-align: center;
}

#rightSide h4,h5,h6 {
    text-align: center;
}

#rightSide h5{
    margin-top : 0;
}



.infoCvIcone {                  /*On supprime cette partie pour changer la disposition des dates*/
    display : none;
}



.infoCV h4{
    margin-bottom: 0;
}

.infoCV h6{
    margin-top: 5px;
    text-decoration: underline;
}

#contact {
    text-align : center;
    font-weight: bold;
}




#xpPro h3{
    margin-left: 0;
    margin-right: 0;

}

#recommandations p {
    justify-content: center;
}

#recommandations i{
    display : none;
}

@media only screen and (min-device-width:600px) and (max-device-width : 780px){           /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    body{
        flex-direction: row;
        margin : 0;
    }

    #photo2 {
        height:180px;
        width:150px;
    }

    #leftSide{
        width : 120%;
        height : all;
        
    }


    #leftSide p{
        font-size : 14px;
    }

    #leftSide section{
            display : flex;
            height : 100%;
            flex-direction : column;
            justify-content: flex-start;
    }

    #propos{
        flex : 1;
    }

    #propos p{
        font-size : 18px;
    }

    #leftSide section img{
        margin : auto;
    }

    h1{
        font-size : 20px;
    }

    #contact{
        margin : auto;
    }

    #contact ul {
        padding : 0;
        text-align:center;
    }

    #contact ul li br{
        display : none;
    }

    #contact ul li a{
        text-align: center;
    }

    #contact ul li p{
        text-align : center;
        display: flex;
        flex-direction: column;
        
    }

    #losirs{
        margin-top : 100%;
    }

    #rightSide p{                   /*Partie droite responsive tablette du CV*/
            font-size : 15px;
    }
    



}