

body{
    
    margin : 0;
    display: flex;
    font-family: 'Inria Serif', serif;
}





a{
    text-decoration: none;
    color: black;
}

a:hover {
    color : white;
}

#leftSide{                                              /*Partie gauche du CV*/
    background-color: rgba(0, 131, 143, 0.719);
    
    
    
    height: 100%;
    display: flex;
    flex-direction:column;
    flex : 0.45;
}
#fayssal2{                      /*On reserve ça pour la partie mobile*/
    
    
    display: none;
}

#leftSide img {
    border-radius: 60px;
    height: 200px;
    padding-top: 20px;
    width: 230px;
    margin : auto;
}

#leftSide h3{
    background-color: rgb(20, 16, 16);
    color: rgba(221, 235, 247, 0.897);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

#leftSide ul {
    list-style: none;
    margin : 0;
    padding: 0;
    font-size : small;
    font-weight: bold;
    text-align: left;
    padding-left : 35px;
    
}
#contact{
    text-align: left;
    margin : auto;
    align-content: center;
    
    
}

#contact ul{
    padding-left: 20px;
}



#contact ul li p{
    font-family: 'Inria Serif', serif;
    font-size : 20px;
    text-align : center;
}

#propos{
    margin-bottom: 85%;
}

#leftSide p{
    text-align: left;
    font-size : 17px;
    padding : 4px 10px 4px 10px;
    font-family: 'Inria Serif', serif;
    
}

#leftSide li {
    margin-top: 5px;
    
}

#leftSide section {
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#loisirsIcone{
    display : flex;
    justify-content: space-around;
    margin-bottom : 25px;
    
}

#loisirs i{
    font-size: 50px;
    width: 45px;
    
}

#name p{
    margin : 0;
}

#name h1 {
    margin-bottom: 0;
}


#rightSide{                             /*Partie droite du CV*/

    width : auto;
    height : auto;
    flex : 1;
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    
    
}

#rightSide h3 {
    display: flex;
    width:600px;
    
}



#name{
    font-size: x-large;
    margin-bottom: 50px;
}

.blue {
    color : rgba(0, 131, 143, 0.719);
}

#formation{
    width : 100%;
}

#xpPro{
width : 100%;
}

.infoCvIcone{
    display : flex;
    font-size : 12px;
    
    align-items: flex-start;
    justify-content: start;
    
    
    
    
}



.infoCvIcone p {
    /* position: absolute; */
    margin-left : 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    
    
    
}

.infoCvIcone p b{
    font-size : 14px;
}

#rightSide i{
    color: rgba(0, 131, 143, 0.719);
    padding-top: 3px;
}

.infoCvIcone i{
    position : absolute;
    padding-top: 5px;
    
}



#formation h3{
    margin-bottom: 10px;
    
}

h3 span{
    margin-left: 35px;
    
}

.infoCV {
    
    display : flex;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.infoCV a:hover{
    color : rgba(0, 131, 143, 0.719);
}

.infoCV :nth-child(1){
    font-size: 17px;
    flex : 0.5;
    
}

.infoCV :nth-child(2){
    flex : 1;
    font-size: 15px;
}

.infoCV h4,h5,p {
    margin : 0;
    margin-bottom: 5px;
}

.infoCV h6{                         /*On réserve ceci pour la disposition des dates dans la version mobile*/
    display: none;
}

.infoCV p{
    width : 300px;
    font-size: 13px;
}

#borderDev {
    height:2px;
    width:130px;
    background-color: rgba(0, 131, 143, 0.719);
    position: absolute;

}

.border{
    height:2px;
    width:600px;
    background-color: rgba(0, 131, 143, 0.719);
    position: absolute;
    display: block;
    
    
}

.firstInfoCV{
    padding-top: 25px;
}

#xpPro h3{
    margin-bottom: 5px;
}

#recommandations{
    width:600px;
    
    
}

#recommandations div {
    height : auto;
    width : auto;
    display:flex;
    justify-content: space-between;
    
    
}

.infoRecommandations{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    font-size : 15px;
}

.infoRecommandations h6{
    font-size : 17px;
    margin-top : 5px;
    margin-bottom : 15px;
}


#recommandations h3{
    margin-bottom: 5px;
}

#recommandations p{
    margin-bottom : 15px;
}


#photo2 {                       /*On reserve cette photo pour la partie mobile*/
    display : none;
}

